* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aesthetic {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    border-bottom: 2px solid #a0a0a0;
}

#rect {
    padding: 20px 35px;
    border-radius: 2px;
    background-color: #808080;
}

#calculator {
    width: 350px;
    margin: 3rem;
    background-color: #efefef;

    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7), -1px -1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 10px;
}

#display-pane {
    padding: 5px;
    background-color: #f0f0f0;
    border: 2px inset #a0a0a0;
}

.displ {
    height: 3rem;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    text-align: right;
    padding: 3px;
}

#display {
    font-size: 2rem;
}

#result {
    height: 1.5rem;
}

table {
    margin-top: 5px;

    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
    vertical-align: center;
    padding: 2px;
}

.calc-btn {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 3px;

    background-color: #d0d0d0;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.calc-btn:hover {
    top: 3px;
    left: 3px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-color: #a0a0a0;
}

.calc-btn:disabled {
    background-color: #707070;
}